
#profile-image{
    height: 20%;
    margin: auto;
	width: 20%;
	border: 1px solid white;
}
#profile-image img{
	height: 100%;
    width: 100%;
    border-radius: 50%;
}
div#profile-info {
    display: flex;
    flex-direction: row;
}
#profile-details{
	display: flex;
    flex-direction: column;
    margin-top: 5%;
}
#heroes-name,#heroes-full-name,#alter-egos,#place-of-birth,#publisher,#alignment{
    width: 50vw;
    height: 10vh;
    padding: 10px;
    font-size: x-large;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 120%; */
    background-color: cadetblue;
    color: aliceblue;
    border-bottom: 2px solid white;
}
#powerstats{
	height: auto;
	width: 30vw;
	display: flex;
	flex-direction: column;
	/*border: 1px solid red;*/
	margin-left: 5%;
	margin-top: 3%;
}
#intelligence,#strength,#speed,#durability,#power,#combat{
	width: 50vw;
    height: 10vh;
    padding: 10px;
	font-size: x-large;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    background-color:cadetblue;
    color:aliceblue;
	border-bottom: 2px solid white;

}

#powerstats-heading{
	font-size: 1.5rem;
	font-family: serif;
	font-weight: 900;
	text-align: center;
}