body{
	margin:0;
    
}
#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}
#profile-image{
	width: 28%;
}
#profile-image img{
    width: 100%;
    border-radius: 10%;
}
div#profile-info {
   width: 60%;
}
#heroes-name,#heroes-full-name,#alter-egos,#place-of-birth,#publisher,#alignment{
    height: 8vh;
    padding: 10px;
    font-size: x-large;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 120%; */
    background-color: darkslategray;
    color: cornsilk;
    border-bottom: 2px solid white;
    opacity: 0.9;
}
#intelligence,#strength,#speed,#durability,#power,#combat{
    height: 8vh;
    padding: 10px;
	font-size: x-large;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    background-color:darkslategray;
    color:cornsilk;
	border-bottom: 2px solid white;
    opacity: 0.9;
}

#powerstats-heading{
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
  
}